<div *ngIf="channelId" class="surface-card p-4 shadow-2 border-round flex flex-column h-full">
    <!-- HEADER -->
    <div class="mb-3 flex align-items-center justify-content-between">
        <div *ngIf="!currentChannel" class="flex align-items-center">
            <span class="text-xl font-medium text-red-500 text-center">Sender nicht gefunden</span>
        </div>
        <div *ngIf="currentChannel" class="flex align-items-center">
            <span class="text-xl font-medium text-900">{{currentChannel.name}}</span>
        </div>
    </div>

    <!-- MITTLERER BEREICH mit Scrollbar -->
    <div *ngIf="currentChannel" class="border-2 border-dashed surface-border flex-grow-1 overflow-auto">
        <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-2 md:w-2 font-medium">Name</div>
              <div class="text-900 w-8 md:w-8 md:flex-order-0 flex-order-0">
                <ng-container *ngIf="editingField === 'name'">
                  <input type="text" [(ngModel)]="tempChannel.name" class="p-inputtext w-full" />
                </ng-container>
                <ng-container *ngIf="editingField !== 'name'">
                  {{ currentChannel.name }}
                </ng-container>
              </div>
              <div class="w-2 md:w-2 flex justify-content-end">
                <button *ngIf="editingField === 'name'" pButton pRipple label="" icon="pi pi-check" class="p-button-text" (click)="toggleEdit('name')"></button>
                <button *ngIf="editingField === 'name'" pButton pRipple label="" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
                <button *ngIf="editingField !== 'name'" pButton pRipple label="" icon="pi pi-pencil" class="p-button-text" (click)="toggleEdit('name')" [disabled]="editingField !== null"></button>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-2 md:w-2 font-medium">Stream</div>
              <div class="text-900 w-8 md:w-8 md:flex-order-0 flex-order-0">
                <ng-container *ngIf="editingField === 'stream'">
                  <input type="text" [(ngModel)]="tempChannel.stream" class="p-inputtext w-full" />
                </ng-container>
                <ng-container *ngIf="editingField !== 'stream'">
                  {{ currentChannel.stream }}
                </ng-container>
              </div>
              <div class="w-2 md:w-2 flex justify-content-end">
                <button *ngIf="editingField === 'stream'" pButton pRipple label="" icon="pi pi-check" class="p-button-text" (click)="toggleEdit('stream')"></button>
                <button *ngIf="editingField === 'stream'" pButton pRipple label="" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
                <button *ngIf="editingField !== 'stream'" pButton pRipple label="" icon="pi pi-pencil" class="p-button-text" (click)="toggleEdit('stream')" [disabled]="editingField !== null"></button>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                <div class="text-500 w-2 md:w-2 font-medium">Modus</div>
                <div class="text-900 w-8 md:w-8 md:flex-order-0 flex-order-0">
                  <ng-container *ngIf="editingField === 'mode'">
                    <p-dropdown 
                      [options]="channelModes" 
                      [(ngModel)]="tempChannel.mode" 
                      optionLabel="label" 
                      optionValue="value"
                      class="w-full">
                    </p-dropdown>
                  </ng-container>
                  <ng-container *ngIf="editingField !== 'mode'">
                    <span [ngClass]="{'text-red-500': ChannelMode[currentChannel.mode]==='Off' }">{{ ChannelMode[currentChannel.mode] }}</span>
                  </ng-container>
                </div>
                <div class="w-2 md:w-2 flex justify-content-end">
                  <button *ngIf="editingField === 'mode'" pButton pRipple label="" icon="pi pi-check" class="p-button-text" (click)="toggleEdit('mode')"></button>
                  <button *ngIf="editingField === 'mode'" pButton pRipple label="" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
                  <button *ngIf="editingField !== 'mode'" pButton pRipple label="" icon="pi pi-pencil" class="p-button-text" (click)="toggleEdit('mode')" [disabled]="editingField !== null"></button>
                </div>
              </li>
              
          </ul>
    </div>
</div>
